html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(241, 217, 138, 0.8)), url("./../images/bird-bc.jpg") no-repeat center/cover;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  padding: 3rem 0 0 0;
}
.header-logo {
  color: #FFF;
  font-size: 3rem;
  font-weight: bold;
}
.header .menu-toggle {
  font-size: 1.6rem;
  color: #fff;
  display: none;
}
.header-nav {
  display: flex;
}
.header-nav-item:not(:first-child) {
  margin-left: 5.8rem;
}
.header-nav-link {
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 1.2rem 0;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.15s linear;
}
.header-nav-link:hover {
  color: #f1d98a;
  border-bottom-color: #f1d98a;
}
.header-nav-link-icon {
  color: #fff;
}
.header-content {
  margin: 16.5rem 0 15.5rem 0;
  text-align: center;
  color: #fff;
}
.header-content-caption {
  font-size: 7.2rem;
  font-family: "Kaushan Script", cursive;
  margin: 0 0 4.5rem 0;
}
.header-content-main {
  display: inline-block;
  word-break: break-word;
  font-weight: bold;
  font-size: 15rem;
  padding: 0 0 7.2rem 0;
  margin: 0 0 5rem 0;
  position: relative;
}
.header-content-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 9%;
  background-color: #fff;
}
.header-content-button a {
  display: inline-block;
  color: #fff;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1.4rem;
  border: 0.4rem solid #fff;
  text-transform: uppercase;
}
.header-bottom {
  color: rgba(255, 255, 255, 0.75);
  padding: 0 0 3rem 0;
}
.header-bottom-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 -3rem;
}
.header-bottom-list-item {
  width: calc(25% - 3rem);
  margin: 0 0 0 3rem;
  position: relative;
  padding: 2.5rem 0 0 0;
  transition: all 0.15s linear;
  cursor: pointer;
}
.header-bottom-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  transition: all 0.15s linear;
  background-color: rgba(255, 255, 255, 0.65);
}
.header-bottom-list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 0.3rem;
  background-color: #e88183;
  transition: all 0.15s linear;
  visibility: hidden;
  opacity: 0;
}
.header-bottom-list-item:hover::before {
  background-color: rgba(255, 255, 255, 0.95);
}
.header-bottom-list-item:hover::after {
  visibility: visible;
  opacity: 1;
}
.header-bottom-list-item .number {
  font-size: 1.4rem;
  font-weight: bold;
}
.header-bottom-list-item .text {
  font-size: 1.15rem;
  margin: 0 0 0 0.2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .header .header-content-caption {
    font-size: 5rem;
  }
  .header .header-content-main {
    font-size: 9rem;
  }
}
@media screen and (max-width: 767px) {
  .header .header-content {
    margin: 8.5rem 0 8.5rem 0;
  }
  .header .header-content-caption {
    font-size: 3rem;
  }
  .header .header-content-main {
    font-size: 5rem;
  }
  .header .header-bottom .text {
    display: none;
  }
  .header .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .header .header-nav {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    flex-direction: column;
    transition: all 0.15s linear;
    border-radius: 5px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .header .header-nav-item {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .header .header-nav-item:active {
    color: #f1d98a;
  }
  .header .header-nav-link {
    color: #e88183;
    width: 100%;
    font-weight: bold;
  }
  .header .header-nav-link-icon {
    color: #e88183;
    font-size: 1.8rem;
  }
  .header .is-toggled {
    visibility: visible;
    opacity: 1;
  }
}

.header-box {
  text-align: center;
}
.header-box-caption {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  font-style: italic;
  padding: 0 0 2.3rem 0;
}
.header-box-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 0 3.8rem 0;
  margin: 0 0 3.8rem;
  position: relative;
}
.header-box-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6.2rem;
  height: 0.4rem;
  background-color: #e88183;
}
.header-box-description {
  color: #999999;
  font-size: 1.5rem;
  line-height: 1.4;
  max-width: 97rem;
  margin-left: auto;
  margin-right: auto;
}

.about-section {
  padding: 9.2rem 0 10.9rem 0;
}
.about-section .about-images {
  padding: 10rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}
.about-section .about-images .img-item {
  margin-left: 3rem;
  width: calc(33.333333% - 3rem);
  position: relative;
  transition: transform 0.15s linear;
}
.about-section .about-images .img-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -13;
  background-color: #95e1d3;
  transition: transform 0.15s linear;
}
.about-section .about-images .img-item:hover {
  transform: translate(-1rem, -1rem);
}
.about-section .about-images .img-item:hover .img-overlay {
  visibility: visible;
  opacity: 1;
}
.about-section .about-images .img-item:hover::after {
  transform: translate(1rem, 1rem);
}
.about-section .about-images .img-item .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(241, 217, 138, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.15s linear;
  visibility: hidden;
  opacity: 0;
}
.about-section .about-images .img-item .img-overlay .about-icon {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 0.65rem 0;
}
.about-section .about-images .img-item .img-overlay .about-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  .about-section .about-images {
    margin: 0;
  }
  .about-section .about-images .img-item {
    margin: 0 0 1.5rem 0;
    width: 100%;
  }
}

.statistics-section {
  background-color: #95e1d3;
}
.statistics-section .statistics-list {
  display: flex;
  flex-wrap: wrap;
}
.statistics-section .statistics-list-item {
  padding: 9rem 0;
  width: 20%;
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.statistics-section .statistics-list-item .statistics-number {
  font-size: 7.2rem;
  font-weight: bold;
  margin: 0 0 3rem 0;
}
.statistics-section .statistics-list-item .statistics-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.4;
}
.statistics-section .statistics-list-item:last-child {
  border-right: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .statistics-section .statistics-list-item {
    padding: 5rem 0;
    width: 100%;
  }
  .statistics-section .statistics-list-item:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  .statistics-section .statistics-list-item:not(:nth-child(69)) {
    border-right: 0;
    border-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
