html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.outline-dash {
  outline: dashed;
}

.slick-slider {
  width: 100%;
}

.slick-arrow {
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.header {
  background: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(241, 217, 138, 0.8)), url("./../images/bird-bc.jpg") no-repeat center/cover;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  z-index: 11;
  padding: 3rem 0 0 0;
}
.header-logo {
  color: #FFF;
  font-size: 3rem;
  font-weight: bold;
}
.header-logo:hover {
  text-decoration: none;
  color: #fff;
}
.header .menu-toggle {
  font-size: 2.2rem;
  color: #fff;
  display: none;
  padding: 1rem;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-link {
  display: inline-block;
  padding: 1.2rem 3rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.15s linear;
}
.header-nav-link i {
  font-size: 1.6rem;
}
.header-nav-link:hover {
  text-decoration: none;
  color: #f1d98a;
  border-bottom-color: #f1d98a;
}
.header-nav-link-icon {
  color: #fff;
  font-size: 1.6rem;
  position: relative;
  z-index: -1;
}
.header-content {
  margin: 16.5rem 0 15.5rem 0;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
.header-content-caption {
  font-size: 7.2rem;
  font-family: "Kaushan Script", cursive;
  margin: 0 0 4.5rem 0;
}
.header-content-main {
  display: inline-block;
  word-break: break-word;
  font-weight: bold;
  font-size: 15rem;
  padding: 0 0 7.2rem 0;
  margin: 0 0 5rem 0;
  position: relative;
  z-index: 11;
}
.header-content-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 9%;
  background-color: #fff;
}
.header-content-button a {
  display: inline-block;
  color: #fff;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1.4rem;
  border: 0.4rem solid #fff;
  text-transform: uppercase;
}
.header-bottom {
  color: rgba(255, 255, 255, 0.75);
  padding: 0 0 3rem 0;
}
.header-bottom-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 -3rem;
}
.header-bottom-list-item {
  width: calc(25% - 3rem);
  margin: 0 0 0 3rem;
  position: relative;
  padding: 2.5rem 0 0 0;
  transition: all 0.15s linear;
  cursor: pointer;
}
.header-bottom-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  transition: all 0.15s linear;
  background-color: rgba(255, 255, 255, 0.65);
}
.header-bottom-list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 0.3rem;
  background-color: #e88183;
  transition: all 0.15s linear;
  visibility: hidden;
  opacity: 0;
}
.header-bottom-list-item:hover::before {
  background-color: rgba(255, 255, 255, 0.95);
}
.header-bottom-list-item:hover::after {
  visibility: visible;
  opacity: 1;
}
.header-bottom-list-item .number {
  font-size: 1.4rem;
  font-weight: bold;
}
.header-bottom-list-item .text {
  font-size: 1.15rem;
  margin: 0 0 0 0.2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .header .header-content-caption {
    font-size: 5rem;
  }
  .header .header-content-main {
    font-size: 9rem;
  }
  .header-nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header .header-content {
    margin: 8.5rem 0 8.5rem 0;
  }
  .header .header-content-caption {
    font-size: 3rem;
  }
  .header .header-content-main {
    font-size: 5rem;
  }
  .header .header-bottom .text {
    display: none;
  }
  .header .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .header .header-nav {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 19;
    width: 100%;
    flex-direction: column;
    transition: all 0.15s linear;
    border-radius: 5px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .header .header-nav-item {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .header .header-nav-item:active {
    color: #f1d98a;
  }
  .header .header-nav-link {
    color: #e88183;
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
  }
  .header .header-nav-link-icon {
    color: #e88183;
    font-size: 1.8rem;
  }
  .header-nav-link:hover {
    background-color: rgba(241, 217, 138, 0.3);
  }
}

.is-toggled {
  visibility: visible !important;
  opacity: 1 !important;
}

.header-box {
  text-align: center;
}
.header-box-caption {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  font-style: italic;
  padding: 0 0 2.3rem 0;
}
.header-box-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 0 3.8rem 0;
  margin: 0 0 3.8rem;
  position: relative;
}
.header-box-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6.2rem;
  height: 0.4rem;
  background-color: #e88183;
}
.header-box-description {
  color: #999999;
  font-size: 1.5rem;
  line-height: 1.4;
  max-width: 97rem;
  margin-left: auto;
  margin-right: auto;
}

.about-section {
  padding: 11rem 0;
}
.about-section .about-images {
  padding: 10rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}
.about-section .about-images .img-item {
  margin-left: 3rem;
  width: calc(33.333333% - 3rem);
  position: relative;
  transition: transform 0.15s linear;
}
.about-section .about-images .img-item .about-img {
  width: 100%;
  object-fit: cover;
}
.about-section .about-images .img-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -13;
  background-color: #95e1d3;
  transition: transform 0.15s linear;
}
.about-section .about-images .img-item:hover {
  transform: translate(-1rem, -1rem);
}
.about-section .about-images .img-item:hover .img-overlay {
  visibility: visible;
  opacity: 1;
}
.about-section .about-images .img-item:hover::after {
  transform: translate(1rem, 1rem);
}
.about-section .about-images .img-item .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(241, 217, 138, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.15s linear;
  visibility: hidden;
  opacity: 0;
}
.about-section .about-images .img-item .img-overlay .about-icon {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 0.65rem 0;
}
.about-section .about-images .img-item .img-overlay .about-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  .about-section {
    padding: 5.5rem 0;
  }
  .about-section .about-images {
    margin: 0;
  }
  .about-section .about-images .img-item {
    margin: 0 0 1.5rem 0;
    width: 100%;
  }
}

.statistics-section {
  background-color: #95e1d3;
}
.statistics-section .statistics-list {
  display: flex;
  flex-wrap: wrap;
}
.statistics-section .statistics-list-item {
  padding: 9rem 0;
  width: 20%;
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.statistics-section .statistics-list-item .statistics-number {
  font-size: 7.2rem;
  font-weight: bold;
  margin: 0 0 3rem 0;
}
.statistics-section .statistics-list-item .statistics-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.4;
}
.statistics-section .statistics-list-item:last-child {
  border-right: 1px solid #fff;
}
@media screen and (max-width: 1023px) {
  .statistics-section .statistics-list-item {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 767px) {
  .statistics-section .statistics-list-item {
    padding: 3rem 0;
    width: 100%;
  }
  .statistics-section .statistics-list-item .statistics-number {
    margin: 0 0 1rem 0;
  }
  .statistics-section .statistics-list-item:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  .statistics-section .statistics-list-item:not(:nth-child(69)) {
    border-right: 0;
    border-left: 0;
  }
}

.services-section {
  padding: 5.5rem 0;
}
.services-section .services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
}
.services-section .services-list + .services-list {
  border-top: 1px solid #999;
  padding-top: 5rem;
}
.services-section .services-list-item {
  width: calc(33.333333% - 3rem);
  margin-left: 3rem;
  display: flex;
}
.services-section .services-list-item .img-icon-wrap {
  width: 20%;
}
.services-section .services-list-item .item-content {
  width: 80%;
}
.services-section .services-list-item .item-content-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.services-section .services-list-item .item-content-caption {
  color: #999999;
  line-height: 1.4;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .services-section .services-list {
    padding: 0;
  }
  .services-section .services-list .services-list-item {
    width: 100%;
    margin-bottom: 3rem;
  }
  .services-section .services-list .services-list-item .item-content-title {
    margin-bottom: 1rem;
  }
}

.device-section {
  padding: 11rem 0 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)), url("./../images/devices.jpg") no-repeat center/cover;
}
@media screen and (max-width: 767px) {
  .device-section {
    padding: 5.5rem 0 0 0;
  }
}
.device-section .device-media {
  position: relative;
}
.device-section .device-media-img:first-child {
  margin: 0 auto;
  display: block;
}
.device-section .device-media-img:nth-child(2) {
  position: absolute;
  bottom: -9rem;
  left: calc(50% + 25rem);
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .device-section .device-media-img:nth-child(2) {
    bottom: -8rem;
    left: calc(50% + 7rem);
    width: 18rem;
    height: 30rem;
  }
}

.wedo-section {
  padding: 12rem 0;
}
.wedo-section .wedo-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 9rem 0 0 0;
}
.wedo-section .wedo-content .wedo-media-wrap {
  width: calc(50% - 1.5rem);
}
.wedo-section .wedo-content .wedo-media-wrap .wedo-media-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.wedo-section .wedo-content .wedo-accordian {
  width: calc(50% - 1.5rem);
}
.wedo-section .wedo-content .wedo-accordian .accordian-item {
  border: 0;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item:not(:last-child) {
  margin-bottom: 1rem;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item-header {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ccc;
  cursor: pointer;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item-header .header-icon {
  font-size: 1.5rem;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item-header .accordian-item-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-left: 1.5rem;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item-header .arrow-icon {
  margin-left: auto;
  font-size: 1.4rem;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item-content {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 2rem;
}
.wedo-section .wedo-content .wedo-accordian .accordian-item-content-wrap {
  height: 14rem;
  overflow-y: auto;
  padding: 0 2rem 0 0;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .wedo-section .wedo-content .wedo-media-wrap {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .wedo-section .wedo-content .wedo-accordian {
    width: 100%;
  }
}

.quote-section {
  background-color: #f8f8f8;
  padding: 6.5rem 0;
  position: relative;
}
.quote-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-section .arrow-icon {
  padding: 1rem 2.5rem;
  cursor: pointer;
  color: #999999;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}
.quote-section .fa-arrow-left {
  left: -0.5rem;
}
.quote-section .fa-arrow-right {
  right: -0.5rem;
}
.quote-section .quote-content {
  padding: 0 4rem;
  display: flex;
}
.quote-section .quote-content .quote-icon-wrap {
  border: 3px solid #95e1d3;
  padding: 4.5rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-section .quote-content .quote-info {
  margin-left: 6rem;
}
.quote-section .quote-content .quote-info .quote-desc {
  font-size: 2.4rem;
  font-style: italic;
  line-height: 1.6;
  color: #999999;
  margin-bottom: 1.5rem;
}
.quote-section .quote-content .quote-info .quote-author {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  position: relative;
  padding-left: 7rem;
}
.quote-section .quote-content .quote-info .quote-author::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6rem;
  height: 4px;
  background-color: #e88183;
}
@media screen and (max-width: 767px) {
  .quote-section .quote-content {
    flex-direction: column;
  }
  .quote-section .quote-content .quote-info {
    margin: 1.5rem 0 0 0;
  }
  .quote-section .quote-content .quote-info .quote-desc {
    font-size: 2rem;
    text-align: justify;
  }
  .quote-section .quote-content .quote-info .quote-author {
    font-size: 1.9rem;
  }
  .quote-section .arrow-icon {
    font-size: 1.5rem;
  }
}

.team-section {
  padding: 10rem 0 11rem 0;
}
.team-section .member-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
  margin-top: 9.5rem;
}
.team-section .member-list .member-item-wrap {
  width: calc(33.333333% - 3rem);
  margin-left: 3rem;
}
.team-section .member-list .member-item-wrap .member-item {
  position: relative;
}
.team-section .member-list .member-item-wrap .member-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #95e1d3;
}
.team-section .member-list .member-item-wrap .member-item .member-item-img-wrap {
  position: relative;
  z-index: 11;
  transform: translate(0, 0);
  transition: all 0.15s linear;
}
.team-section .member-list .member-item-wrap .member-item .member-item-img-wrap .member-item-img {
  width: 100%;
}
.team-section .member-list .member-item-wrap .member-item .member-item-img-wrap .member-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.75), rgba(241, 217, 138, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s linear;
}
.team-section .member-list .member-item-wrap .member-item .member-item-img-wrap .member-item-overlay .media-logo {
  font-size: 2rem;
  padding: 1rem;
  color: #e88183;
  background-color: #f1d98a;
  transition: all 0.15s linear;
  cursor: pointer;
}
.team-section .member-list .member-item-wrap .member-item .member-item-img-wrap .member-item-overlay .media-logo:not(:last-child) {
  border-right: 1px solid #e88183;
}
.team-section .member-list .member-item-wrap .member-item .member-item-img-wrap .member-item-overlay .media-logo:hover {
  color: #fff;
  background-color: #e88183;
}
.team-section .member-list .member-item-wrap:hover .member-item-img-wrap {
  transform: translate(-1rem, -1rem);
}
.team-section .member-list .member-item-wrap:hover .member-item-img-wrap .member-item-overlay {
  opacity: 1;
  visibility: visible;
}
.team-section .member-list .member-item-info {
  text-align: center;
}
.team-section .member-list .member-item-info .member-item-name {
  padding: 3rem 0 1.5rem 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}
.team-section .member-list .member-item-info .member-item-job {
  font-style: italic;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .team-section .member-list {
    flex-direction: column;
    margin-left: 0;
    margin-top: 5.5rem;
  }
  .team-section .member-list .member-item-wrap {
    width: 100%;
    margin-left: 0;
  }
  .team-section .member-list .member-item-wrap:not(:last-child) {
    margin-bottom: 4.5rem;
  }
  .team-section .member-list .member-item-info .member-item-name {
    font-size: 2rem;
  }
  .team-section .member-list .member-item-info .member-item-job {
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 767px) {
  .team-section {
    padding: 5rem 0 5.5rem 0;
  }
}

.brand-section {
  background-color: #f8f8f8;
  padding: 6rem 0;
}
.brand-section .brand-img {
  width: 100%;
}

.our-works-section .container {
  padding: 10rem 1.5rem;
}
.our-works-section .work-imgs-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 39rem);
}
.our-works-section .work-imgs-wrap .work-img-item {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 100%;
}
.our-works-section .work-imgs-wrap .work-img-item:hover .work-img-item-overlay {
  opacity: 1;
  visibility: visible;
}
.our-works-section .work-imgs-wrap .work-img-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.75), rgba(241, 217, 138, 0.6));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s linear;
}
.our-works-section .work-imgs-wrap .work-img-item-overlay-icon {
  padding: 0.75rem 0;
  font-size: 2.5rem;
}
.our-works-section .work-imgs-wrap .work-img-item-overlay-title {
  padding: 0.75rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
}
.our-works-section .work-imgs-wrap .work-img-item-overlay-caption {
  padding: 0.75rem 0;
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.6;
}
.our-works-section .work-imgs-wrap .work-img-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our-works-section .work-imgs-wrap .work-img-item:nth-child(3) {
  grid-row: 1/3;
  grid-column: 3/4;
}
@media screen and (max-width: 767px) {
  .our-works-section .work-imgs-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: unset;
  }
  .our-works-section .work-imgs-wrap .work-img-item:nth-child(3) {
    grid-row: unset;
    grid-column: unset;
  }
  .our-works-section .work-imgs-wrap .work-img-item-overlay-icon {
    padding: 0.25rem 0;
    font-size: 2rem;
  }
  .our-works-section .work-imgs-wrap .work-img-item-overlay-title {
    padding: 0.25rem 0;
    font-size: 1rem;
  }
  .our-works-section .work-imgs-wrap .work-img-item-overlay-caption {
    padding: 0.25rem 0;
    font-size: 1rem;
  }
}

.people-section {
  padding: 11rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("https://lh3.googleusercontent.com/proxy/GyGmBjv5eTbBzhiTqQm4iX_pLr30UxPa-wU_hUecq6m3BxXTiv_L5BCkLhlsX-kXhjfvz4R-vDMa9p_9Cyxj6_kfax2GaVjvjra1Mb_V-rUVOnyb-N6Y9jgO") no-repeat center/cover;
}
.people-section .people-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4rem;
}
.people-section .people-list .people-item {
  width: calc(50% - 4rem);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 9.5rem;
}
.people-section .people-list .people-info {
  margin-left: 3rem;
}
.people-section .people-list .people-img {
  width: 12rem;
  height: 12rem;
  border-radius: 6969px;
  object-fit: cover;
}
.people-section .people-list .people-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
.people-section .people-list .people-job {
  font-style: italic;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.people-section .people-list .people-job::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6rem;
  height: 0.4rem;
  background-color: #e88183;
}
.people-section .people-list .people-desc {
  line-height: 1.6;
  font-size: 1.5rem;
  color: #999999;
  font-style: unset;
}
@media screen and (max-width: 767px) {
  .people-section .people-list {
    padding: 2rem 0;
  }
  .people-section .people-list .people-item {
    width: 100%;
  }
  .people-section .people-list .people-img {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .people-section {
    padding: 5.5rem 0 4rem;
  }
}

.stories-section {
  padding: 11rem 0;
}
.stories-section .stories-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}
.stories-section .stories-item {
  margin-left: 3rem;
  width: calc(33.333333% - 3rem);
}
.stories-section .story-media {
  position: relative;
}
.stories-section .story-media .story-date {
  position: absolute;
  bottom: 1.2rem;
  left: -1.2rem;
  background-color: #95e1d3;
  padding: 1.2rem 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stories-section .story-media .story-date-day {
  font-size: 2rem;
  line-height: 1.2;
}
.stories-section .story-media .story-date-month {
  font-size: 1.5rem;
  font-style: italic;
}
.stories-section .story-img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}
.stories-section .story-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.6rem 0 0.8rem 0;
  line-height: 1.2;
}
.stories-section .story-desc {
  padding: 0.8rem 0 1.6rem 0;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #ccc;
}
.stories-section .story-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stories-section .story-meta-item:first-child {
  margin-right: 2rem;
}
.stories-section .story-meta-icon {
  color: #95e1d3;
  font-size: 1.3rem;
  margin-right: 0.3rem;
}
.stories-section .story-meta-count {
  font-style: italic;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .stories-section {
    padding: 5.5rem 0;
  }
  .stories-section .stories-list {
    margin-left: 0;
  }
  .stories-section .stories-item {
    margin-left: 0;
    margin-bottom: 2.5rem;
    width: 100%;
  }
  .stories-section .story-img {
    height: auto;
  }
}

.map-section {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.65)), url("https://lh3.googleusercontent.com/proxy/GyGmBjv5eTbBzhiTqQm4iX_pLr30UxPa-wU_hUecq6m3BxXTiv_L5BCkLhlsX-kXhjfvz4R-vDMa9p_9Cyxj6_kfax2GaVjvjra1Mb_V-rUVOnyb-N6Y9jgO") no-repeat center/cover;
  padding: 5.5rem 0;
}
.map-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.map-section .map-icon {
  margin-bottom: 2rem;
  color: #e88183;
  font-size: 1.7rem;
}
.map-section .map-link {
  text-transform: uppercase;
  color: #e88183;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.85rem 2rem;
  border: 3px solid transparent;
  transition: all 0.15s linear;
}
.map-section .map-link:hover {
  border-color: #e88183;
}

.footer-section {
  padding: 7rem 0 0 0;
}
.footer-section .footer-top {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.footer-section .footer-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.footer-section .summary {
  width: calc(33.333333%);
}
.footer-section .summary .footer-logo {
  font-size: 4.6rem;
  color: #ccc;
  font-weight: bold;
}
.footer-section .summary .footer-desc {
  padding: 3.5rem 0 4rem 0;
  color: #999999;
  line-height: 1.4;
  text-align: left;
  font-size: 1.4rem;
}
.footer-section .summary .footer-followers {
  font-size: 1.35rem;
  font-weight: bold;
  padding: 0 0 1.5rem 0;
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid #ccc;
}
.footer-section .summary .footer-followers i {
  font-size: 1.6rem;
  font-weight: bolder;
}
.footer-section .summary .footer-socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-section .summary .footer-socials .socials-title {
  font-style: italic;
  font-size: 1.4rem;
  color: #999999;
  margin-right: 1.5rem;
}
.footer-section .summary .footer-socials .socials-icon {
  padding: 0 0.75rem;
  color: #95e1d3;
  font-size: 1.4rem;
}
.footer-section .summary .footer-subscribe {
  padding: 3.5rem 0 6.5rem 0;
}
.footer-section .summary .footer-subscribe .form-subscribe {
  display: flex;
  justify-content: flex-start;
}
.footer-section .summary .footer-subscribe .my-form-control {
  padding: 1rem;
  font-size: 1.4rem;
  font-style: italic;
  color: #999999;
  border: none;
  outline: none;
}
.footer-section .summary .footer-subscribe .form-input {
  border: 1px solid #ccc;
  border-right: 0;
}
.footer-section .summary .footer-subscribe .form-btn-submit {
  background-color: #95e1d3;
  color: #fff;
}
.footer-section .blogs {
  width: calc(33.333333% - 5rem);
  margin-left: 5rem;
}
.footer-section .blogs .blogs-list {
  display: flex;
  flex-direction: column;
}
.footer-section .blogs .blogs-list .blogs-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-section .blogs .blogs-list .blogs-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2;
}
.footer-section .blogs .blogs-list .blogs-date {
  margin-top: 0.85rem;
  font-style: italic;
  font-size: 1.2rem;
  color: #ccc;
}
.footer-section .blogs .blogs-list .blogs-info {
  padding: 0 2rem;
}
.footer-section .blogs .blogs-list .blogs-item:not(:last-child) {
  margin-bottom: 3rem;
}
.footer-section .blogs .blogs-list .blogs-img {
  width: 12rem;
  height: 8rem;
  object-fit: cover;
}
.footer-section .instagram {
  width: calc(33.333333% - 8rem);
  margin-left: 8rem;
}
.footer-section .instagram-imgs-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
}
.footer-section .instagram-img-wrap {
  width: calc(33.33% - 3px);
  margin: 0 0 3px 3px;
  height: 0;
  padding-bottom: calc(33.33% - 3px);
  position: relative;
}
.footer-section .instagram-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-section .view-more {
  padding: 1rem 0;
}
.footer-section .view-more-link {
  color: #e88183;
  font-style: italic;
  padding: 0.5rem 0;
  border-bottom: 1px solid transparent;
  transition: all 0.15s ease;
}
.footer-section .view-more-link:hover {
  border-bottom-color: #e88183;
}
.footer-section .footer-bottom {
  border-top: 1px solid #ccc;
  padding: 3rem 0;
  text-align: center;
}
.footer-section .footer-bottom .copyright-icon {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-section .footer-bottom .copyright-text {
  font-weight: 600;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .footer-section .footer-top {
    flex-direction: column;
  }
  .footer-section .footer-subscribe {
    padding: 2rem 0 3rem 0;
  }
  .footer-section .footer-title {
    margin-bottom: 2rem;
  }
  .footer-section .summary {
    width: 100%;
  }
  .footer-section .blogs {
    width: 100%;
    margin-left: 0;
  }
  .footer-section .instagram {
    width: 100%;
    margin-left: 0;
  }
  .footer-section .blogs + .instagram {
    margin-top: 7rem;
  }
  .footer-section .footer-bottom {
    padding: 1.75rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
